.App {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.Components {
  margin: auto;
  width: 500px;
  height: 500px;
  padding: 10px;
  font-family: "Dosis", sans-serif;
  overflow-y: hidden;
}

.MainInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Tasks {
  display: flex;
  flex-direction: column;
  height: 300px;
  list-style-type: none;
  padding: 0;
  max-height: 300px;
  gap: 5px;
}

.Task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  padding-left: 1px;
}

.Task:hover {
  border: 2px solid #9dbcef;
  padding: 2px;
  border-radius: 10px;
}

.CheckTask {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
}

.EditTaskButtonGroup {
  /* border: 2px lightsteelblue solid; */
  width: 50px;
  display: flex;
  justify-content: space-evenly;
}

.IconButton:hover {
  transform: scale(1.1);
  color: #9dbcef;
}

.Footer {
  display: flex;
  margin-top: 20px;
  font-size: 12px;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

input {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid #000000;
  padding-left: 10px;
  height: 25px;
  width: 410px;
}

input:focus {
  outline: 1px solid #9dbcef;
  border: 1px solid #9dbcef;
}

button {
  font-family: "Alata", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  height: 30px;
  width: 70px;
  background-color: #fafaff;
  border: 2px solid #000000;
}

button:hover {
  background-color: #9dbcef;
}

h1 {
  font-family: "Alata", sans-serif;
  /* border: 2px pink solid; */
}

img {
  max-width: 20px;
}

img:hover {
  transform: scale(1.1);
}
